.jumbotron {
  background: #0065bd;
  /* background:goldenrod; */
  color: white;
  padding-bottom: 80px;
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
  background: #7646c1;
}

.jumbotron p {
  color: #8b8b8b;
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar + .jumbotron {
  margin-top: -20px;
}

.jumbotron .lang-logo {
  display: block;
  background: #b01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}

.logo {
  width: 5rem;
  height: 5rem;
}

.form-style{
  color: #333333; 
}

.product-img{
  height: 25rem;
  width: auto;
  max-height: 500px;
}

#detail{
  margin-top: 10px;
}

.addCart{
  border-radius: 25px;
  margin-top: 20px;
  padding: 10px;
  background-color: #08367a;
  color: #ffffff;
}

.addCart:hover{
  background-color: #549e9a;
  color: #ffffff;
}

a{
  color: #ffffff;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

input {
  color: rgba(255, 73, 1, 0.966);
}
