<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>Add your favorite book in the list</p>
        <form method="post" class="form-style" action="./">
          <input type="text" name="book-name"  placeholder="Enter a book name">
          <input type="number" name="book-year"  placeholder="Enter publish year">
          <input type="number" name="book-price"  placeholder="Enter price">
          <input type="submit">
        </form>
      </div>
    </div>
    <div class="container">

    </div>


</body>

</html>