<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>Your Shopping Cart:</p>
        <% if (cart.length > 0){
             for(let item of cart){ %>
                product : <%= item.name%> price: <%= item.price%> <a id="<%= item.itemID%>" href="#" class="delete">Delete</a><br>
        <%}}%>
      </div>
    </div>
    <div class="container">

    </div>


</body>
<script>
  $(".delete").click(function(){
    const id = this.id;
    $.post("/deleteItem", 
    { 
      itemID: id
    },
    function(data, status){
    alert("Data: " + data + "\nStatus: " + status);
    location.reload();
  });
  })  
</script>
</html>